
.container{
    width: 80% !important;
    max-width: 1150px !important;
    margin: 0 auto;
    padding-top: 20px;
}
.title{
    margin-bottom: 20px;
    font-size: 23px;
}
.nameMovie{
    color: #03599d;
}
.title1{
    display: flex;
    flex-direction: row;
}
.title1-img{
    width: 27%;
    padding-top: 20px;
}
.img{
    border-radius: 20px !important;
}
.title1-text{
    width: 75%;
    padding-left: 40px;
}
.title1-text h1{
    font-size: 35px;
    font-family: system-ui !important;
    font-weight: bold;
}
.title1-text p{
    font-family: system-ui !important;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px !important;
}
.text1{
    display: flex;
    font-size: 18px;
}
.text1-1{
    font-family: system-ui !important;
}
.text-director .director{
    font-family: system-ui !important;
    font-weight: bold;

}
.text-director{
    padding-right: 100px;
}
.title2{
    background-color: #ffffff;
    margin-top: 30px;
   padding-bottom: 100px;
}

.title2 h1{
    color: rgb(15, 13, 13);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}
.title2-video{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}


/* .title3{
    background-color: #ffffff;
    margin-top: 10px;
    padding-bottom: 100px;
} */
.title3_facebook{
  
    /* max-width: 100%;
    max-height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.title3_facebook {
    /* height: 600px;
    width: 300px;
    padding-left: 990px; */
    width: 100%; 
}
.title3_facebook iframe {
    width: 100% !important; /* Thiết lập chiều rộng 100% cho iframe của hộp bình luận */
    min-height: 400px; /* Đặt chiều cao tối thiểu cho hộp bình luận */
  }
@media (max-width: 550px) {
    .title1 {
        display: block;
    }
    .title1-img {
        width: 100%;
        height: 600px;
    }
    .title1-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
     .title1-text {
        width: 100%;
        padding-left: 5px !important;
    }   
    .title1-text p {
        text-align: left;
        font-family: system-ui !important;
        text-align: justify;
    }
    .title1-text h1 {
        font-size: 30px;
        padding-top: 20px;
    }
    .text1-1{
        font-family: system-ui !important;
    }
    .text-director .director{
        font-family: system-ui !important;
    }
    .title2-video iframe {
        width: 100%;
        height: 100%;
    }
    
    .title2-video {
        height: 400px;
        width: 95%;
        padding-left: 20px;
    }

}

    
 
@media (max-width: 768px) {}
@media (max-width: 992px) {
    .container{
        width: 100% !important;
        max-width: 100% !important;
    }
    .title1 {
        padding: 0px 30px;
    }
    .title {
        padding: 0px 30px;
    }
}
